h2 {
    text-align: center;
}

.Contacts {
    text-align: center;
    background-color: #ADD8E6;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: blue;
    width: 1000px;
    height: 50px;
    margin-left: 20%;

   
}

