h2 {
    text-align: center;
    padding: 10px;
}

.Contacts {
    text-align: center;
    background-color: #ADD8E6;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: blue;
    width: 1000px;
    height: 50px;
    margin-left: 20%;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    
}

table, th, td {
    border: 2px solid black;
    padding: 5px;
}

th {
    font-size: 20px;
}

td {
    font-size: 15px;
}

.summary {
    padding-top: 5%;
}

