.repository {
    border: 1px solid black;
    font-size: 35px;
    overflow: hidden; overflow-y: scroll;
}

#userrepos {
    float: right;
    overflow: hidden; overflow-y: scroll;
    position: relative;
    height: 50vh;
    width: 100vh;
    padding: 100px;
}

#personalinfo {
    border: 2px solid black;
    font-size: 30px;
    padding: 25px;
}

img {
    border: 3px solid black;
    padding: 5px;
}

#user {
    height: 25px;
    width: 1000px;
    padding: 5px;
    border: 2px solid black;
}

#button{
    width: 300px;
    height: 40px;
    margin: 1%;
}




